

html {
    font-size: 10px;
    color: aliceblue;
    height: 100%;
    font-family: 'Staatliches', cursive;
}

header {
    top: 0em;
    left: 0;
    width: auto;
    font-size: 5em;
    text-align: left;
    padding: 0.5em 0 0 0.5em;
    border-radius: 4px;
    text-shadow: 4px 3px 0px #7A7A7A, 2px 4px 2px rgba(206,89,55,0);
}

body {
  background-color: #34ADFF;
  background-image: -webkit-linear-gradient(70deg,#F76C6C  35%,#A8D0E6  35%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
    position: absolute;
    top: 0em;
    left: 0;
    width: auto;
    font-size: 5em;
    text-align: left;
    padding: 0.5em 0 0 0.5em;
    border-radius: 4px;
    text-shadow: 4px 3px 0px #7A7A7A, 2px 4px 2px rgba(206,89,55,0);
}


#mainContainer {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    width: fit-content;
    top: 10em;
}

#player {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
}

.playerTitle {
    margin: 0em 0 2em 0;
    font-size: 2.5em;
    text-shadow: 0 0 50px #FFF, 0px 0px 50px #34ADFF;
}

#p1{
    color: #F8E9A1;
    text-shadow:0 0 30px #e6cb63;
}

#p2{
    color: #374785;
    text-shadow: 0px 0px 5px #695eff, 0 0 30px #374785;
}

#board {
    display: grid;
    margin: 0em 4em 0em 4em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 45em;
    height: 40em;
    -webkit-box-shadow: 0px 0px 32px 5px #24305E; 
    box-shadow: 0px 0px 5px 5px #24305E;   
}

.tile {
    border: 3px solid #24305E;
}

#restartContainer{
    font-size: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

#restartButton{ 
    text-shadow: 0 0 50px #FFF, 2px 2px 2px rgb(206, 55, 55);
    text-align: center;
    width: 8em;
    margin-top: 1em;
    cursor: pointer;
}

#endMessage {
    position: fixed;
    z-index: 2000;
    margin: auto;
    margin-bottom: 40%;
    width: 10em;
    height: 2.5em;
    text-align: center;
    padding-top: 1.5em;
    background-color: #24305E;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 32px 5px #24305E; 
    box-shadow: 0px 0px 5px 5px #24305E; 
    text-shadow: 0 0 50px #FFF, 2px 2px 2px rgb(55, 70, 206);
    font-size: 1.3em;
    visibility: hidden;
}

#startBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10em;
    height: 6em;
    z-index: 1000;
    position: absolute;
    margin: auto;
    top: 1em;
}

.startElem {
    margin: 0.5em 0.5em 0.5em 0.5em;
}

#startButton {
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear;
  }

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
    z-index: -10;
}
